body {
    min-height: 100%;
    background-image: url("/static/stylesheets/background.jpg"), linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-size: cover;
}

.center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    color: aliceblue
}